<div class="container d-flex flex-column">
  <h2 style="color:  #e33d7a;">Добавление непринятого заказа</h2>



  <form id="refusedOrder" method="POST" action="/courier" class="d-flex flex-column formss" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name" style="color: #e33d7a;;">ИМЯ:

        <input id="name" class="form-control" name="name" type="text" required>
      </label>
    </div>

    <div class="form-group">
      <label for="place" style="color: #e33d7a;;"> МЕСТО:

        <input id="place" class="form-control" name="place" type="text" required>

      </label>
    </div>

    <div class="form-group">
      <label for="price" style="color: #e33d7a;;"> ЦЕНА:

        <input id="price" class="form-control" name="price" type="text" required>

      </label>
    </div>
    <div class="form-group">
      <label for="discount" style="color: #e33d7a;;"> СКИДКА:

        <input id="discount" class="form-control" name="discount" type="text" required>

      </label>
    </div>
    <div id="picture">
      <img src="" alt="">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label" style="color: #e33d7a;;">Default file input example</label>
      <input class="form-control" type="file" id="formFile" name="pic">
    </div>

    <button type="submit" class="btn w-100" style="color: #e33d7a;font-weight: bold;">
      ДОБАВИТЬ
    </button>

  </form>


  <form id="deliverLogout" name='deliverLogout' method="REDIRECT" action="/logout" class="d-flex flex-column formss">
    <button type="submit" class="btn w-100" style="color: #e33d7a;font-weight: bold;">ВЫЙТИ</button>
  </form>
</div>


<div class="container d-flex flex-column">

    <p style="font-weight: bold;color:#FFD966; font-size: 20px;font-weight:bold">Добро пожаловать <span
        style="font-weight: bold;color: #e33d7a">{{name}}</span> </p>
  <div class="row wip">

    {{#each ordersDiscount}}

  
      <div class="card">
        <div class="card-body fons">
          <img src="/img/{{fileName}}" alt="" class="w-100">
          <h3 class="card-title">{{name}}</h3>
          <p class="card-text"><span style="font-weight: bold;color:#FFD966">Адрес: </span>{{place}}</p>
          <p class="card-text"><span style="font-weight: bold;color:#FFD966">Цена :</span>{{price}} &#8381</p>
          <p class="card-text"><span style="font-weight: bold;color:#FFD966">Цена со скидкой :</span>{{discountPrice}}
            &#8381</p>
            {{#if this.buyer}}
          <p class="card-text buy"> <span style="font-weight: bold;color:#FFD966">Заказ от: </span> {{buyer.user}}</p>
          {{/if}}
          <a href="delete/{{this.id}}" class="btn btn-primary del">Удалить заказ</a>
        </div>
      </div>
  
    {{/each}}
  </div>
</div>
